# Ignore iml files
*.iml

# Ignore npm generated folders
.nyc_output/
node_modules/
build/


# IDE folders
.vscode/
.github/


!.gitignore
!.gitattributes
!.gitkeep
!.gitlab-ci.yml
!.github/workflows/
